section {
  position: absolute;
  bottom: 134px;

  animation: animate 9.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.letter {
  position: absolute;

  top: -75px;
  letter-spacing: 10px;
  font-size: 14px;
  display: inline-block;

  transform-origin: 0 77px;
}
