@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}
.active {
  color: #9cb3e8;
}
.dots {
  background-image: url(./assets/dots.png);
  background-repeat: repeat;
}
/* swiper pagination */
.swiper-pagination {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.swiper-pagination-bullets {
  margin-top: 40px;
}
.swiper-pagination-bullet {
  background-color: transparent !important;
  opacity: 1 !important;
  outline: 2px solid #665c7c;
  outline-offset: 5px;
}
.swiper-pagination-bullet-active {
  background-color: #222222 !important;
  outline: none;
  outline: 2px solid #665c7c;
  outline-offset: 5px;
}
